@charset "UTF-8";

div.banner {
    background-image: url("/src/assets/images/CONTACT-banner-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 