@charset "UTF-8";

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --colorBackgroundLight: #ffffff;
  --colorBackgroundDark: #000000;
  --colorBackgroundCards: #f5f5f5;

  --colorButton-primary: #8f0101;
  --colorButton-secondary: #b81515;

  --colorTextLight: #ffffff;
  --colorTextDark: #222222;

  --fontText: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
  /* WEIGHT: menu: 500, cards: 700 */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--colorBackgroundLight);
  font-family: var(--fontText);
  color: var(--colorTextDark);
}

div.container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

header {
  width: 100%;
  background-color: black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 30px 50px;
  position: relative;
  z-index: 30;
}

button.buttonMenu {
  background-color: black;
  border: none;
}

nav.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 60vw;
  height: 100vh;
  background-color: #111111dc;
  padding: 130px 20px;
  transform: translateX(-100%);
  transition: transform 0.35s ease;
  z-index: 40;
}

nav.menu.active {
  transform: translateX(0);
}

nav.menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

nav.menu a {
  color: var(--colorTextLight);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
}

div.menuOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.45);
  opacity: 0;
  visibility: hidden;
  z-index: 20;
}

div.menuOverlay.active {
  opacity: 1;
  visibility: visible;
}

svg {
  width: 2rem;
  height: 2rem;
}

path {
  color: white;
}

main {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

img#banner-main {
  width: 102vw;
}

section.aboutUs p {
  font-size: 1.3rem;
  text-align: center;
  padding: 88px 34px;
  line-height: 2.1rem;
}

h2 {
  font-size: 2.2rem;
  text-align: center;
}

h2::after {
  content: url("../assets/images/underline.svg");
}

section {
  margin: 0 25px;
}

section img {
  width: 90vw;
}

section.weekOffers div, section.categoriesSearch div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 25px;
  margin: 32px 0 88px 0;
}

section.popularDestinations div {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 32px 0 40px 0;
  gap: 20px;
}

section.popularDestinations div h3 {
  font-size: 1.8rem;
  align-self: flex-start;
}

section.popularDestinations div p {
  font-size: 1.3rem;
}

a.viewDetails {
  text-decoration: none;
  color: white;
  background-color: var(--colorButton-secondary);
  width: 90vw;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 16px 0;
  border-radius: 10px;
}

a.viewDetails:hover {
  background-color: var(--colorButton-primary);
}

section.paymentTerms {

}

footer {
  width: 100%;
  background-color: black;
}
