@charset "UTF-8";

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --colorBackgroundLight: #ffffff;
  --colorBackgroundDark: #000000;
  --colorBackgroundCards: #f5f5f5;

  --colorButton-primary: #8f0101;
  --colorButton-secondary: #b81515;

  --colorTextLight: #ffffff;
  --colorTextDark: #222222;

  --fontText: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
  /* WEIGHT: menu: 500, cards: 700 */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--colorBackgroundLight);
  font-family: var(--fontText);
  color: var(--colorTextDark);
}

div.container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

header {
  width: 100%;
  background-color: black;
}

main {
  width: 100%;
}

footer {
  width: 100%;
  background-color: black;
}
